<div>
	<h2 style="background-color: lightblue; text-align: center;"> 

		Menu
	</h2>
	<br>
	<ul>
		
			<%= link_to "Home", home_index_path %>
		
		<br>
		<br>
	
		
			<%= link_to "Photo world", photoworld_index_path %>
			<br>
			<br>
			<
		
		<br>
		<br>
		
			<%= link_to "About", home_about_path %>
		
	</ul>

</div>