<div>
	<h2 style="background-color: lightblue; text-align: center;"> 

		Other
	</h2>
	<ul>
		<a href="https://www.cricbuzz.com/">Cricbuzz</a>

		<br>
		<br>
		
		<a href="https://www.amazon.com/">
			Amazon
		</a>
		<br>
		
	</ul>

</div>