
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">

		<%= render 'home/menu' %>
  	
  </div>
  <div class="col-4">

		<%= render 'home/event' %>
  	
  </div>
  <div class="col-4">

		<%= render 'home/other' %>
  	
  </div>
</div>






</div>


